body {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-family: sans-serif;

}

h1 {
    margin: 50px 0 10px 0px;
    font-size: 60px;
    text-align: center;
}

h2 {
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid #e3e3e3;
}

main {
    width: 900px;
    margin: auto;
}

div {
    float: right;
    width: 70%;
}

section {
    margin: 50px 0;
    padding: 0 50px;
    box-shadow: 1px 1px 0px rgba(88, 105, 66, 0.1);
}

section h2 {
    padding: 0;
    text-align: left;
    border: none;
}

ul li {
    margin-bottom: 10px;
}

img {
    float: left;
    width: 17%;
    margin:5% 0 0 11%;
    opacity: 0.85;
}


.container {
    box-shadow: 2px 2px 8px rgba(0,0,0,.1); float: right;
    width: 120%;
    margin-right: -10%;
    background-color: rgb(228, 237, 240);
}
.category-wrap {
    float: left;
    padding: 15px;
    margin: 4% 0 0 7%;
    background:  rgb(212, 221, 224);
    width: 20%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  }
  .category-wrap h3 {
    font-size: 18px;
    color: rgba(0,0,0,.6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
  }
  .category-wrap h3:after {
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
  }
  .category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(0,0,0,.3);
  }
  .category-wrap li {margin: 12px 0 0 0px;}
  .category-wrap a {
    text-decoration: none;
    display: block;  
    font-size: 16px;
    color: rgba(0,0,0,.6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
  }
  .category-wrap a:after {
    position: absolute;
    right: 5px;
    color: rgb(80, 161, 91);
    transition: .2s linear;
  }
  .category-wrap a:hover {
    background: #80C8A0;
    color: white;
  }

  